{% extends 'base.html' %} {% block content %}
<h2 style="text-align: center;">{{ searched_things }}</h2>

<section class="row">

    {% for post in final_postings %}
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <a href="{{ post.1 }}"><img src="https://i.pinimg.com/originals/3d/28/f6/3d28f686eedf45c07c762e22e25f5018.jpg" alt=""></a>
            </div>
            <div class="card-content">
                <p>{{ post.0 }}</p>
            </div>
            <div class="card-action">
                <a href="{{ post.1 }}">View listing: price {{ post.2 }}</a>
            </div>
        </div>
    </div>
    {% endfor %}

</section>

{% endblock content %}